html{
    box-sizing: border-box;
    font-size: 62.5%;
}

.contenedor{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto; /* para centrar horizontalmente el contenedor del contenedor padre */
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    background-color: rgb(206, 206, 206);
    margin: 0px;


}

h2{
    font-size: 2rem;
}

img{
    max-width: 100%;
}

h1{
    font-family: 'Lobster';
    font-size: 5rem;
    color: white;
    margin-left: 3rem;
}



.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    
    background-image: url('../imagenes/classical-guitar-player-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

section{
    margin-bottom: 4rem;
    
}
hr{
    margin-bottom: 4rem;
}

.bandaPrincipal{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.video{
    width: 800rem;
    height: 40rem;
}

.contenedorInfo{
    display: block;
    
    
}
.sec1{
    display: flex;
    gap: 2rem;
}

.banda{
    width: 50%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.imagen{
    width: 300px;
    height: 300px;
    
}

.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
  
.fade.show {
    opacity: 1;
}


.contBandas{
    display: flex;
    gap: 6rem;
}





